/*
body {
    background-color: black;
    color: lawngreen;
}

.centruj {
    font-size: 50px;
    text-align: center;
}

.image-container {
    height: auto;
    float: left;
    overflow: hidden;
    margin-top: 10%;
}

.image-container img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.image-vedlaSeba {

    transition: .2s ease;
    width: 33%;
    height: auto;
    float: left;
    margin: 2px;
}

.image-vedlaSeba:hover {
    opacity: 0.3;
}

.button-containerPravo {
    display: flex;

    position: relative;
    /*top: 30px;*/
  /*  left: 27%;
}*/
/*
.button {
    background-color: lawngreen;
    border: none;
    color: black;
    padding: 15px 32px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 0px 10px;
    cursor: pointer;
    border-radius: 200px;

}*/
/*
.button-containerLavo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    right: 2px;
}*/


/*
.move-button {
    position: relative;
    left: 10px;
    transition:0s 20000s ;

    width: 100px;
    height: 50px;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: transform 0.2s;
}*/

/*
.move-button:hover {
    left: 80%;
    transition:0s 0s;

}


@media screen and (max-width: 600px) {
    {
        width: 100%;
    }
}*/

body {
    background-color: black;
    color: lawngreen;
    margin: 0;
}

.centruj {
    font-size: 50px;
    text-align: center;
}

.image-container {
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
}

.image-container img {
    width: 100%;
    border-radius: 8px;
}

.image-vedlaSeba {
    width: 33%;
    margin: 2px;
    float: left;
    transition: 0.2s ease;
}

.image-vedlaSeba:hover {
    opacity: 0.3;
}

.button-containerPravo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    background-color: lawngreen;
    border: none;
    color: black;
    padding: 15px 32px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 200px;
}

.move-button {
    position: relative;
    left: 10px;
    transition: 0s 20000s;
    width: 100px;
    height: 50px;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.move-button:hover {
    left: 80%;
    transition: 0s 0s;
}

@media screen and (max-width: 600px) {
    .image-vedlaSeba {
        width: 100%; /* Make images stack vertically on small screens */
    }
    .button-containerPravo {
        flex-direction: column; /* vertikalne tlacidla na malych obrazovkach */
        align-items: center; /* horizontalne tlacidla na malych obrazovkach*/
    }
}