body {
    background-color: black;
    color: lawngreen;
    margin: 0;
}

.centruj {
    font-size: 50px;
    text-align: center;
}

.image-container {
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
}

.image-container img {
    width: 100%;
    border-radius: 8px;
}

.image-vedlaSeba {
    width: 33%;
    margin: 2px;
    float: left;
    transition: 0.2s ease;
}

.image-vedlaSeba:hover {
    opacity: 0.3;
}

.button-containerPravo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    background-color: lawngreen;
    border: none;
    color: black;
    padding: 15px 32px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 200px;
}

.move-button {
    position: relative;
    left: 10px;
    transition: 0s 20000s;
    width: 100px;
    height: 50px;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.move-button:hover {
    left: 80%;
    transition: 0s 0s;
}

/*responzivny dizajn*/
@media screen and (max-width: 600px) {
    .image-vedlaSeba {
        width: 100%;
    }
    .button-containerPravo {
        flex-direction: column;
        align-items: center;

    }
    .move-button {
        position: static;
        left: 0;
        width: 100px;
        text-align: center;
    }

    .move-button:hover {
        left: 0;
    }
}