body {
    background-color: rgb(113, 166, 184);
    margin-left: 5%;
    margin-right: 5%;
    /*background-image: url("images/pozadie.webp");*/
  }
  
  h1 {
    font-size: 40px;
    margin-bottom: 0px;
    }

  .header {
    color: white;
    text-align: left;
    text-indent: 5%;
    background-color: #43b5a6;
    background-size: cover;
    border-radius: 8px;
  }

  .navigacia {
    overflow: hidden;
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;
    }

  a.navigacia:hover {
    background-color: #ddd;
    color: black;
  }

  .lavyStlpec {
    width: 30%;
    margin-top: 3%;
    float: left;
  }
  
  .pravyStlpec {
    margin-top: 3%;
    margin-left: 5%;
    padding-left: 2%;
    width: 50%;
    background-color: #43b5a6;
    float: left;
    border-radius: 8px;
    padding-bottom: 2%;
  }

  p {
    font-size: 20px;
  }

  .nadpis {
    font-family: 'Times New Roman';
    font-stretch: extra-condensed;
    font-weight: bold;
  }

  .tlacidlo {
    color: aliceblue;
    font-family: 'Times New Roman';
    font-stretch: extra-condensed;
    font-weight: bold;  
    margin-left: 5%;
   }

  .tlacidlo:hover {
    background-color: #ddd;
    color: black;
  }

  .text {
    font-size: 19px;
    color:aliceblue;
  }

  .submit {
    padding-top: 10px;
    margin-top: 2px;
  }

  @media screen and (max-width: 600px) {
    .lavyStlpec, .pravyStlpec {
      width: 100%;
    }
  }

  .citat {
    font-style: oblique;
  }

/*
body {
  background-color: black;
  color: lawngreen;
}

.centruj {
  font-size: 50px;
  text-align: center;
}

.image-container {
  height: auto;
  float: left;
  overflow: hidden;
  margin-top: 10%;
}

.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.image-vedlaSeba {

  transition: .2s ease;
  width: 33%;
  height: auto;
  float: left;
  margin: 2px;
}

.image-vedlaSeba:hover {
  opacity: 0.3;
}

.button-containerPravo {
  display: flex;

  position: relative;
  /*top: 30px;*/
/*  left: 27%;
}*/
/*
.button {
    background-color: lawngreen;
    border: none;
    color: black;
    padding: 15px 32px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 0px 10px;
    cursor: pointer;
    border-radius: 200px;

}*/
/*
.button-containerLavo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    right: 2px;
}*/


/*
.move-button {
    position: relative;
    left: 10px;
    transition:0s 20000s ;

    width: 100px;
    height: 50px;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: transform 0.2s;
}*/

/*
.move-button:hover {
    left: 80%;
    transition:0s 0s;

}


@media screen and (max-width: 600px) {
    {
        width: 100%;
    }
}*/